
.DS_Store

src/__pycache__/

src/controllers/__pycache__/

src/controllers/Asociacion/__pycache__/

src/controllers/EDA/__pycache__/

src/controllers/kmeans/__pycache__/

src/controllers/Regression/__pycache__/

src/model/__pycache__/

src/model/infrastructure/__pycache__/

src/res/__pycache__/

src/views/__pycache__/

src/views/Asociacion/__pycache__/

src/views/EDA/__pycache__/

src/views/FS/__pycache__/

src/views/infrastructure/__pycache__/

src/views/Kmeans/__pycache__/
